html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 0 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.ant-table-cell {
  padding: 4px 8px !important;
}

.ant-table-bordered {
  border: 1px solid #f0f0f0 !important; /* основная рамка таблицы */
}

.ant-table-bordered .ant-table-cell {
  border-right: 1px solid #f0f0f0 !important; /* вертикальные линии */
  border-bottom: 1px solid #f0f0f0 !important; /* горизонтальные линии */
}

.ant-table-bordered .ant-table-cell:last-child {
  border-right: none !important; /* убрать правую границу у последней колонки */
}

.ant-table-thead > tr > th {
  background: #fafafa !important; /* фон заголовков */
  border-bottom: 2px solid #d9d9d9 !important; /* линия под заголовками */
}

.ant-descriptions-bordered > .ant-descriptions-view .ant-descriptions-row > .ant-descriptions-item-label,
.ant-descriptions-bordered > .ant-descriptions-view .ant-descriptions-row > .ant-descriptions-item-content {
  padding: 8px 16px !important;
  color: inherit !important;   /* Наследуем цвет */
}
.ant-typography.section-title {
  background-color: #f5f5f5;
  padding: 0;
  margin: 16px 0 0;
  border-radius: 4px;
}